.custom-scrollbar {
  height: 180px;
  overflow-y: auto;
  scrollbar-width: thin;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

/* .custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
} */

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #949494;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #949494;
}
