
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
/* src/index.css */
/* src/App.css or your global CSS file */

body {
  font-family: 'Poppins', sans-serif;
}

* {
  font-family: 'Poppins', sans-serif;

  font-weight: 400;
  font-style: normal;
}

.custom-vh-32{
  width: 32vh;
}

